
*{background-image: url('/public/images/background.svg');}

.all-courses-contanier{
background-image: url('/public/images/background.svg');
margin: 20px 160px 160px 160px ;
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-auto-rows: 250px;
position: relative;
gap: 120px 120px ;
background: rgba(0, 0, 0, 0);
}
.course-contanier{
text-align: left;
position: static;
width: 400px;
height: 320px;
border: 1px solid #0e0303;
box-sizing: border-box;
box-shadow: inset 2px 4px 2px rgba(0, 0, 0, 0.0);
overflow-y: hidden ;
overflow-x: hidden;
border-radius:40px;
background:  rgb(255, 255, 255.0);

}
.course-contanier:hover{
opacity: 0.5;
}


/* COURSES CARD */

/* image of course card div */
.img{
    border-top-right-radius:40px;
    border-top-left-radius:40px; 
    background:  rgba(0, 0, 0, 0);
  
  }
  /* for image od course card id */
  #img{
    width: 100%;
    height: 150px ;
    overflow: hidden;
  
  }
  /*title of course shown in course card */
  #tit { 
    background: #ffffff;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color:#130F0F;
    font-size: 27px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
    margin-left: 10px;
  }
  /*  instructor shown in course card */
  #inst{
    background: #ffffff;
    text-decoration: none;
    color:#130F0F;
    font-weight: normal;
    margin-left: 10px;
  }
  #fee{
    background:  rgb(255, 255, 255.0);
    text-align:left;
    margin-left: 10px;
    color: #0e0303;
  
  }
  
  #best{
    background: orange;
    width: 60px;  height: 5px;
    font-size: 12px;
    float:left;
    color: #0e0303;
    margin-left: 10px; margin-top: 10px;
    text-align: center;
    border-radius: 20px;
    
  }
/*RATING */
.checked {
  color: orange;
}
.ratting{
  float: right;
  margin-right: 20px;
  background: #ffffff;
  color: #313131;
  width: 100px;
}
span{
  background: #f7eeee;
}

h5{
  float: left;
  background: #ffff;
  color: orangered;
  margin-right: 5px;
}
h6{
  float: center;
  background: #ffff;
  color: #0e0303;
  
}




/* the upcoming part is for details page */

/* fOR the background*/
.details{

margin-top: 20px;
background-image: url('/public/images/home-background.svg');
align-items: center;
width:100%;
height: 100%;
overflow-y: hidden;
}
/*for the card background */

.detail{

background:  rgba(0, 0, 0, 0.3);
text-align: center ;   
margin:20px 5% 20px 5%;
width:90%;
height: 100%;
border-radius: 40px ;

}
/* for title*/

.title{
    padding-top: 20px;
position:static;
color: #ffff;
font-size: 35px;
font-weight: bold;
align-items: center;
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
background:rgba(0, 0, 0, 0) ;
}
/*image*/
#image{

border-top-right-radius:40px;
border-top-left-radius:40px;
border-bottom-right-radius:40px;
border-bottom-left-radius:40px;
float: left;
width: 35%; height:300px;
margin-left: 35px;
}
/**/
.description{
font:30px;
float:right;
color:#ffff;
width: 50%; height: auto;
background:rgba(0, 0, 0, 0) ;
margin-right: 35px;
margin-left:30px;
margin-bottom: 40px;

}

/* this is for title of each div */
#TOD{
font: 30px;
background:rgba(0, 0, 0, 0) ;
color:#BA0C2F;
margin-bottom: 10px;
font-weight: bolder;
}
/* for grouping image and description in one div */
.im-desc{
display:flow-root ;
position: static;
background:rgba(0, 0, 0, 0) ;
margin-bottom: 20px;
}
/* content of each div F fees , content , instructor , etc */
.cod{
color:#ffff;
font:30px;
background:rgba(0, 0, 0, 0) ;
margin-right: 35px;
margin-left:30px;
margin-bottom: 20px;
width:90%; height: auto;
text-align: left;

}

#button:hover {
background-color: orange;  
}
#button{
   margin:auto;
    color: #1cc49d;
    background-color: #1b2f31;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3em;
    width: 200px;
    font-size: large;
    font-weight: 600;
    letter-spacing: 2px;
    border :orangered 0.5px solid ;
}

