* {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ba0c2f;
}
.flex-rw {
  display: inline-block;
  background: #0f1013;
  /*margin-top: auto;*/
  width: 100%;
}

.brand {
  position: absolute;
  padding-left: 60px;
  float: left;
}
.footer-list-top {
  float: right;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  display: grid;
}
.footer-list-top p {
  color: #fff;
}
.footer-list-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer-list-top ul li {
  float: left;
  position: relative;
  margin-right: 15px;
}
.footer-list-header {
  padding: 10px 0 5px 0;
  color: #fff;
  font: 25px "Oswald", sans-serif;
}
.footer-list-anchor {
  font: 15px "Open Sans", sans-serif;
}

@media only screen and (max-width: 768px) {
  .footer-list-header {
    font-size: 20px;
  }
  .footer-list-anchor {
    font-size: 20px;
  }
  .footer-social-connect {
    font-size: 20px;
  }
}
@media (max-width: 568px) {
  .brand {
    display: none;
  }
  .flex-rw {
    display: flex;
    justify-content: center;
  }
  .footer-list-top {
    width: 100%;
  }
  .footer-list-header {
    font-size: 20px;
  }
  .footer-list-anchor {
    font-size: 15px;
  }
}
@media only screen and (max-width: 320px) {
  .flex-rw {
    display: block;
  }
  .footer-list-header {
    font-size: 2.2em;
  }
  .footer-list-anchor {
    font-size: 1.2em;
  }
}
