* {
  margin: 0;
  padding: 0;
}
.home-container {
  height: 100vh;
  background-image: url("/public/images/home-background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-bottom: 60px;
}
.logo-contanier {
  margin: 0 auto;
  padding: 90px 45px;
  text-align: center;
}
.form-search {
  position: relative;
  z-index: 1;
  max-width: 400px;
  margin: 0 auto;
  padding: 0px;
  text-align: center;
}
.form-search input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #fff;
  width: 100%;
  height: 70px;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
  border-radius: 50px;
}
.text-contanier {
  display: inline-block;
  width: 100%;
}
.start-text {
  background-color: rgba(15, 16, 19, 0.6);
  color: #fff;
  padding: 20px;
  margin: 40px;
  width: 500px;
  height: 120px;
  line-height: 30px;
  border: none;
  border-radius: 15px;
}
.mission {
  float: left;
}
.vision {
  float: right;
}
@media (max-width: 990px) {
  .start-text {
    width: 600px;

    display: inline-block;
  }
  .mission {
    float: none;
  }
  .vision {
    float: none;
  }
}
@media (max-width: 450px) {
  .logo-contanier {
    padding: 30px 30px;
  }
  .form-search input {
    width: 80%;
    height: 50px;
  }
  .start-text {
    width: 250px;
    display: block;
  }
  .mission {
    float: none;
  }
  .vision {
    float: none;
  }
}
