.navigation {
  height: 70px;
  background: #0f1013;

  /* background: rgba(15, 16, 19, 0.2);*/
}
.nav-container {
  max-width: 1000px;
  margin: 0;
}
.brand {
  position: absolute;
  padding-left: 60px;
  float: left;
  line-height: 70px;
}
.navbar {
  float: right;
}
.navbar .nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar .nav-list li {
  float: left;
  position: relative;
}
.navbar .nav-list li a,
.navbar .nav-list li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #0f1013;
  color: #fff;
  text-decoration: none;
}
