* {
  margin: 0;
  padding: 0;
}
.slide-card {
  width: 800px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(#000, 0.1);
  margin-bottom: 1.6%;
  background: rgba(19, 15, 15, 0.4);
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
}
.slide-card a {
  color: inherit;
}
.slide-card a:hover {
  color: #ba0c2f;
}
.slide-card .meta {
  position: relative;
  z-index: 0;
  height: 200px;
}
.slide-card .meta .photo {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.description {
  padding: 1rem;
  background: rgba(19, 15, 15, 1);
  position: relative;
  z-index: 1;
}
.description h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
  color: #fff;
}
.description h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  margin-top: 5px;
}
.slide-card .description p {
  position: relative;
  margin: 1rem 0 0;
  color: #fff;
}

@media (max-width: 640px) {
  .slide-card {
    flex-direction: row;
    max-width: 300px;
  }
  .meta .photo {
    display: none;
  }
}
